name: Git Version

on:
  workflow_call:
    inputs:
      version:
        description: 'The version of GitVersion to use'
        required: false
        type: string
        default: '0.5.2'
      project_path:
        description: 'The path to the project to build. Used for Git Version.'
        required: false
        type: string
        default: '.'
      submodules:
        description: 'Whether to checkout submodules: `true` to checkout submodules or `recursive` to recursively checkout submodules.'
        required: false
        type: string
        default: 'false'
    outputs:
      build_number:
        value: ${{ jobs.git-version.outputs.build_number }}

permissions:
  contents: read

jobs:
  git-version:
    name: Git Version
    runs-on: ubuntu-latest
    outputs:
      build_number: ${{ steps.git-version.outputs.GIT_VERSION }}
    steps:
      - name: Checkout Repository
        id: checkout
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.submodules }}
          fetch-depth: 1000
          fetch-tags: true

      - name: Work around actions/checkout#2041
        id: checkout-tags
        # language=bash
        run: git fetch --tags

      - name: Setup Java 17
        id: setup-java
        # https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md#java
        # We use this instead of the recommended `actions/setup-java` action because this is faster
        # language=bash
        run: echo "JAVA_HOME=$(echo $JAVA_HOME_17_X64)" >> "$GITHUB_ENV"

      - name: Cache Git Version
        id: git-version-cache
        uses: actions/cache@v4
        with:
          key: git-version-${{ inputs.version }}
          path: git-version.jar

      - name: Download Git Version
        id: git-version-download
        if: steps.git-version-cache.outputs.cache-hit != 'true'
        shell: bash
        # language=bash
        run: wget 'https://maven.minecraftforge.net/net/minecraftforge/gitversion/${{ inputs.version }}/gitversion-${{ inputs.version }}-fatjar.jar' -O gitversion.jar

      - name: Run Git Version
        id: git-version
        shell: bash
        # language=bash
        run: |-
          # Get the version number from Git Version
          GIT_VERSION=$(java -jar gitversion.jar --project-dir ${{ inputs.project_path }})
          
          # If the command failed or there is no version number, stop now
          if [[ $? -ne 0 ]] || [[ -z $GIT_VERSION ]]; then
            echo "Failed to get version number! Refusing to build."
            exit 1
          fi
          
          echo "Version: $GIT_VERSION"
          echo "GIT_VERSION=$GIT_VERSION" >> $GITHUB_OUTPUT
