name: Promote artifacts

on:
  workflow_call:
    inputs:
      groups:
        description: 'Maven groups CSV. If only one group is specified, it will be used for all artifacts.'
        required: true
        type: string
      artifacts:
        description: 'Maven artifacts CSV'
        required: true
        type: string
      version:
        description: 'Maven version'
        required: true
        type: string
      type:
        description: 'Promotion type'
        required: false
        type: string
        default: 'latest'
    secrets:
      PROMOTE_ARTIFACT_WEBHOOK:
        required: true
      PROMOTE_ARTIFACT_USERNAME:
        required: true
      PROMOTE_ARTIFACT_PASSWORD:
        required: true

  workflow_dispatch:
    inputs:
      groups:
        description: 'Maven groups CSV. If only one group is specified, it will be used for all artifacts.'
        required: true
        type: string
      artifacts:
        description: 'Maven artifacts CSV'
        required: true
        type: string
      version:
        description: 'Maven version'
        required: true
        type: string
      type:
        description: 'Promotion type'
        required: false
        type: choice
        default: 'latest'
        options:
          - 'latest'
          - 'recommended'

jobs:
  promote-artifact:
    name: Promote artifact
    runs-on: ubuntu-latest
    steps:
      - name: Create JSONs
        id: create-jsons
        uses: actions/github-script@v7
        env:
          groups: ${{ inputs.groups }}
          artifacts: ${{ inputs.artifacts }}
          version: ${{ inputs.version }}
          type: ${{ inputs.type }}
        with:
          result-encoding: string
          # language=js
          script: |
            'use strict';
            const { version, type } = process.env
            let { groups, artifacts } = process.env
            groups = groups.split(',')
            artifacts = artifacts.split(',')
            
            /** @type string[] */
            const jsons = []
            for (let i = 0; i < artifacts.length; i++) {
              jsons.push(JSON.stringify({
                group: `${groups[i] ?? groups[0]}`,
                artifact: `${artifacts[i]}`,
                version: `${version}`,
                type: `${type}`
              }))
            }
            
            return jsons.join('UwU')

      - name: Notify webhook
        uses: actions/github-script@v7
        env:
          jsons: ${{ steps.create-jsons.outputs.result }}
          PROMOTE_ARTIFACT_WEBHOOK: ${{ secrets.PROMOTE_ARTIFACT_WEBHOOK }}
          PROMOTE_ARTIFACT_USERNAME: ${{ secrets.PROMOTE_ARTIFACT_USERNAME }}
          PROMOTE_ARTIFACT_PASSWORD: ${{ secrets.PROMOTE_ARTIFACT_PASSWORD }}
        with:
          # language=js
          script: |
            'use strict';
            /** @type {{exec: (command: string, args?: string[]) => Promise<number>}} */
            const actionsExec = require('@actions/exec');
            const { jsons, PROMOTE_ARTIFACT_WEBHOOK, PROMOTE_ARTIFACT_USERNAME, PROMOTE_ARTIFACT_PASSWORD } = process.env
            
            /** @type string[] */
            const jsonsList = jsons.split('UwU')
            for (const json of jsonsList) {
              await actionsExec.exec('curl', [
                '--tlsv1.3', '--compressed', '-sS', '-m', '10',
                '-u', `${PROMOTE_ARTIFACT_USERNAME}:${PROMOTE_ARTIFACT_PASSWORD}`,
                '-H', 'Content-Type: application/json',
                '--request', 'POST',
                '-d', `${json}`,
                `${PROMOTE_ARTIFACT_WEBHOOK}`
              ])
            }
